:root {
  --main-color: #c27a88;
  --additional-color: #757575;
  --box-shadow: 0 10px 20px #6c75a7;
  --default-font-family: "Roboto", sans-serif;
  --heading-font-family: "Reem Kufi", sans-serif;
}

body {
  display: block;
  background: #000000;
  font-family: var(--default-font-family);
  margin: auto;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 90px;
  font-weight: 500;
  margin: auto;
}

h2 {
  font-size: 22px;
  margin: auto;
}

h3 {
  color: #ffffff;
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  margin: auto;
}

h4 {
  color: var(--main-color);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

hr {
  color: var(--additional-color);
}

footer {
  display: block;
  background: var(--additional-color);
  font-size: 24px;
  padding: 12px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 7px 20px;
}

.navbar-brand {
  color: var(--main-color);
  font-size: 22px;
  line-height: 1.5;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}

.nav-item {
  font-size: 22px;
  line-height: 1.5;
}

.hero {
  background: #ffffff;
  text-align: center;
  padding: 230px 20px 230px;
  margin: auto;
}

.hero-links {
  font-size: 24px;
  padding: 43px 0px;
}

.hero-links a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-links a:hover {
  text-decoration: underline;
}

.link {
  color: var(--main-color);
  font-size: 16px;
  text-transform: uppercase;
}

.link:hover {
  color: #ffffff;
}

.button-link {
  color: #ffffff;
  background: var(--main-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  padding: 20px 24px;
}

.button-link:hover {
  color: #000000;
}

.contact-link {
  color: #ffffff;
  text-decoration: none;
}

.contact-link:hover {
  color: var(--additional-color);
}

.social-link {
  color: #ffffff;
}

.social-link:hover {
  color: #000000;
}

.projects {
  display: block;
  padding: 0px 50px;
  margin: auto;
}

.projects img {
  display: block;
  max-height: 420px;
  padding: 0px;
  margin: auto;
}

.project-discription {
  padding-top: 24px;
  padding-left: 24px;
}

.project-info {
  color: var(--additional-color);
  font-size: 16px;
  text-align: justify;
  margin: auto;
}

.content {
  display: block;
  padding: 120px 50px;
  margin: auto;
}

.content h1 {
  color: #ffffff;
  text-align: center;
  font-size: 72px;
}

.content h2 {
  color: #ffffff;
  text-align: center;
}

.content-discription {
  padding-top: 24px;
  padding-right: 24px;
}

.content-info {
  color: var(--additional-color);
  text-align: justify;
  font-size: 16px;
  margin: auto;
}

.content-icon {
  color: #ffffff;
  font-size: 16px;
}

.profile {
  display: block;
  max-height: 400px;
  padding: 0px;
  margin: auto;
}

.images {
  display: block;
  padding: 0px 24px;
  margin: auto;
}

.image {
  display: block;
  max-height: 375px;
  margin: auto;
  border-radius: 7px;
}

@media screen and (max-width: 992px) {
  .hero {
    padding: 200px 20px 200px;
  }

  .project-discription {
    padding-left: 12px;
  }

  .profile {
    margin: 24px auto;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 56px;
    padding-bottom: 48px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }

  .content {
    padding: 170px 30px;
  }

  .content h1 {
    font-size: 56px;
  }

  .content-discription {
    padding: 0px 24px;
  }

  .content-info {
    font-size: 20px;
    line-height: 1.5;
  }

  .hero {
    padding: 270px 20px 270px;
  }

  .hero-links {
    font-size: 20px;
  }

  .profile {
    max-height: 300px;
  }
}

@media screen and (max-width: 375px) {
  .hero {
    padding: 200px 20px 200px;
  }

  .hero-links {
    font-size: 18px;
  }
}
