:root {
  --additional-color: #c27a88;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  display: block;
  font-family: "Roboto", sans-serif;
  margin: 100px auto 0px;
}

h1,
h2 {
  text-align: center;
  margin: auto;
}

h1 {
  font-family: "Reem Kufi", sans-serif;
  font-size: 90px;
  font-weight: 500;
}

h2 {
  color: #4d4d4d;
  font-size: 24px;
}

footer {
  font-size: 24px;
}
